.container {
  width: 100%;
  padding: 15px;
}

.card {
  border-radius: 15px;
  box-shadow: 0px -1px 35px 4px rgba(0,0,0,0.11);
  padding: 4%;
  margin: auto;
  width: 80%;
}
.table-users {
  font-size: 14px;
  border-radius: 15px;
  border: solid #c7c7c7 2px;
  padding: 30px;
}

.table-users tr {
  border-bottom: solid #c7c7c7 2px;
}
.table-users t
.button-expand-more {

}